{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        }
      }
    ]
  ],
  "plugins": [ "istanbul" ],
  "ignore": [
    "node_modules",
    "bower_components",
    "ol-debug.js",
    "ol.js",
    "rex.default.config.js",
    "dist"
  ]
}
